body {
	height: 100vh;
  width: 100vw;
	margin: 0;
	background: var(--bg);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  color: var(--text);
  line-height: 1.75;
}

html {
	height: 100vh;
  width: 100vw;
	box-sizing: border-box;
	font-size: var(--font-size-large);
  font-family: var(--font-family);
  font-weight: var(--normal-weight);

  /* LAYOUT */
  --panel-width: 300px;
  --gutter-width: var(--gap-large);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: var(--normal-weight);
  line-height: 1.15;
  margin: 0;
  padding: 0;
}


hr {
  border: 1px solid var(--light-grey);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  html {
    --panel-width: 250px;
    --gutter-width: var(--gap);

  }
}
